@using Admission.DTOs.RpcModels.Enums
@model UpdateDictionaryViewModel

@{
    ViewData["Title"] = "Справочники";
}



<div class="d-flex flex-column flex-wrap justify-content-center gap-5 mt-5">

    <form asp-action="Update" method="post" class="">
        <div class="d-flex flex-column flex-wrap gap-2">
            <h2>Обновление справочников</h2>
            <select class="form-select" asp-for="Options" sorting-type>
                <option value="@UpdateOptions.Faculty" selected>Факультеты</option>
                <option value="@UpdateOptions.EducationProgram">Программы образования</option>
                <option value="@UpdateOptions.EducationLevel">Уровни образования</option>
                <option value="@UpdateOptions.DocumentType">Типы документов</option>
                <option value="@UpdateOptions.All">Все</option>
            </select>
            <button type="submit" class="btn btn-primary btn-block mt-2">Обновить</button>
        </div>
    </form>
    
    <div class="d-flex flex-column gap-2">
        <h2>Статусы обновления</h2>
        <div class="card">
            <div class="card-body d-flex flex-row flex-wrap">
                <div class="d-flex flex-column">
                    <div class="mr-1">
                        Факультеты
                    </div>
                    <div class="mr-1">
                        @Model.FacultyStatusInformation.UpdateStatus.ToString()
                    </div>
                    <div>
                        @Model.FacultyStatusInformation.LastUpdate
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-row flex-wrap">
                <div class="d-flex flex-column">
                    <div class="mr-1">
                        Программы образования
                    </div>
                    <div class="mr-1">
                        @Model.ProgramStatusInformation.UpdateStatus.ToString()
                    </div>
                    <div>
                        @Model.ProgramStatusInformation.LastUpdate
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-row flex-wrap">
                <div class="d-flex flex-column">
                    <div class="mr-1">
                        Уровни образования
                    </div>
                    <div class="mr-1">
                        @Model.EducationLevelStatusInformation.UpdateStatus.ToString()
                    </div>
                    <div>
                        @Model.EducationLevelStatusInformation.LastUpdate
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body d-flex flex-row flex-wrap">
                <div class="d-flex flex-column">
                    <div class="mr-1">
                        Типы документов
                    </div>
                    <div class="mr-1">
                        @Model.DocumentTypeStatusInformation.UpdateStatus.ToString()
                    </div>
                    <div>
                        @Model.DocumentTypeStatusInformation.LastUpdate
                    </div>
                </div>
            </div>
        </div>
        <a asp-controller="Dictionary" asp-action="Dictionaries" class="btn btn-primary btn-block mt-2">
            Обновить
        </a>
    </div>
</div>